table, td{
    text-align: center;
}
table, td{
    font-family: cursive;
}

 .active {
  display: block;
  padding: 14px 16px;
  text-decoration: none;
  color: white;
  font-family: Arial;
  background-color: #308e36;
}
.nav-item a {
  display: block;
  background-color: #303331;
  padding: 14px 16px;
  text-decoration: none;
  color: white;
  font-family: Arial;
}

.nav-item {
  float:left;
}
.nav-item a:hover:not(.active) {
  background-color: black;
}
.nav-list {
  list-style-type: none;
  background-color: #303331;
  overflow: hidden;
  padding: 0px;
  margin: 0px
}
